In [11]:
import sqlite3 as s3

In [54]:
s3.version

'2.6.0'

In [55]:
conn = s3.connect('userOrder.db')

In [18]:
#dir(conn)

In [27]:
cur = conn.cursor()

In [45]:
userTable = """CREATE TABLE IF NOT EXISTS users(
    userid INT PRIMARY KEY,
    fname TEXT,
    lname TEXT,
    gender TEXT);
    """
orderTable = """CREATE TABLE IF NOT EXISTS orders(
    orderid INT PRIMARY KEY,
    date TEXT,
    userid TEXT,
    total TEXT);
    """

In [46]:
cur.execute(userTable)
conn.commit()
cur.execute(orderTable)
conn.commit()

In [58]:
cur.execute("SELECT * FROM users").fetchone()
cur.execute("SELECT * FROM orders").fetchone()
#OR
'''
cur.execute("SELECT * FROM users")
record = cur.fetchone()
print(record)
'''

'\ncur.execute("SELECT * FROM users")\nrecord = cur.fetchone()\nprint(record)\n'

In [59]:
row1 = """ INSERT INTO users(userid, fname, lname, gender) VALUES('0001', 'amrit', 'shahi', 'male')
"""
cur.execute(row1)
conn.commit()

IntegrityError: UNIQUE constraint failed: users.userid

In [60]:
cur.execute("SELECT * FROM users").fetchone()

(1, 'amrit', 'shahi', 'male')

In [64]:
# another way to insert
row2 = ('0002', 'Loise', 'Lane', 'female')
# insert
cur.execute("INSERT INTO users VALUES(?, ?, ?, ?);", row2)
conn.commit()

IntegrityError: UNIQUE constraint failed: users.userid

In [65]:
# load rows
cur.execute("SELECT * FROM users").fetchmany()

[(1, 'amrit', 'shahi', 'male')]

In [66]:
cur.execute("SELECT * FROM users").fetchmany(2)

[(1, 'amrit', 'shahi', 'male'), (2, 'Loise', 'Lane', 'female')]

In [67]:
cur.execute("SELECT * FROM users").fetchall()

[(1, 'amrit', 'shahi', 'male'), (2, 'Loise', 'Lane', 'female')]

In [68]:
cur.execute("SELECT * FROM orders").fetchall()

[]